:root {
  --bg-primary: #f7f7f7;
  --primary-clr: #fac700;
  --tertiary-clr: #231e41;
  --text-clr: black;
  --logo-size: 150px;

  --fs-lg: 2rem;
  --fs-md: 1.5rem;
  --fs-sm: 1rem;

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-regular: 400;

  --primary-shadow: 0px 15px 5px -15px #919191;
  --secondary-shadow: 15px 0px 10px -15px #919191;
}