:root {
  --bg-primary: #f7f7f7;
  --bg-primary-light: #eee;
  --primary-clr: #fac700;
  --secondary-clr: #202c39;
  --text-clr: black;

  --icon-size: 1.5rem;

  --fs-xl: 2.4rem;
  --fs-lg: 1.8rem;
  --fs-md: 1.4rem;
  --fs-sm: 1rem;
  --fs-xsm: 0.8rem;

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-regular: 400;

  --shadow-clr: #919191;
  --primary-shadow: 0px 15px 5px -15px var(--shadow-clr);
  --secondary-shadow: 15px 0px 10px -15px var(--shadow-clr);
  --tertiary-shadow:  var(--shadow-clr) 0px 3px 8px;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  
}

@media only screen and (max-width: 992px) {
  :root {
    --fs-xl: 2.2rem;
    --fs-lg: 1.6rem;
    --fs-md: 1.2rem;
    --fs-sm: 0.8rem;
    --fs-xsm: 0.6rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --fs-xl: 2rem;
    --fs-lg: 1.6rem;
    --fs-md: 1.2rem;
    --fs-sm: 0.8rem;
    --fs-xsm: 0.6rem;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --fs-xl: 2rem;
    --fs-lg: 1.4rem;
    --fs-md: 1rem;
    --fs-sm: 0.6rem;
    --fs-xsm: 0.4rem;
  }
}

@media only screen and (max-width: 424px) {
}