:root {
  --bg-primary: #f7f7f7;
  --primary-clr: #fac700;
  --tertiary-clr: #231e41;
  --text-clr: black;
  --logo-size: 150px;

  --fs-lg: 1.8rem;
  --fs-md: 1.4rem;
  --fs-sm: 1rem;
  --fs-xsm: 0.8rem;

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-regular: 400;

  --primary-shadow: 0px 15px 5px -15px #919191;
  --secondary-shadow: 15px 0px 10px -15px #919191;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (max-width: 768px) {
  :root {
    --fs-lg: 1.6rem;
    --fs-md: 1.2rem;
    --fs-sm: 0.8rem;
    --fs-xsm: 0.6rem;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --fs-lg: 1.4rem;
    --fs-md: 1rem;
    --fs-sm: 0.6rem;
    --fs-xsm: 0.4rem;
  }
}

@media only screen and (max-width: 424px) {
}