.categories {
  height: 40rem;
  margin: 2rem 0;
  padding: 2rem 4rem;
  width: 90%;
  margin-inline: auto;

  &-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;

    p {
      flex: 1;
      font-size: var(--fs-lg);
      font-weight: var(--fw-bold);
      color: var(--secondary-color);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-primary-light);
      border-radius: 3px;

      .card-icon {
        position: relative;
        transform-style: preserve-3d;

        img {
          width: 64px;
          height: 64px;
          margin: 2rem 3rem;
          transition: transform 500ms;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 1rem;
          left: 50%;
          width: 2rem;
          height: 2rem;
          background: var(--primary-clr);
          border-radius: 50%;
          transform: translate3d(-50%, 0, -1px);
          transition: transform 500ms;
        }
      }

      .card-content {
        p:first-child {
          color: var(--secondary-clr);
          font-size: var(--fs-md);
          font-weight: var(--fw-bold);
          margin-bottom: 1rem;
        }
      }

      &:hover {
        .card-icon {
          img {
            transform: translateY(-0.5rem);
          }

          &::after {
            transform: translate3d(-50%, 0, -1px) scale(1.2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .categories {
    width: 100%;
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 996px) {
  .categories {
    width: 80%;
    &-cards {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .categories {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .categories {
    width: 100%;

    &-heading {
      flex-direction: column;
      align-items: center;

      p {
        margin-bottom: 1rem;
      }
    }

    &-cards {
      .card {
        padding: 1rem 0;

        .card-icon {
          img {
            margin: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .categories {
    padding: 2rem 1rem;

    &-cards {
      .card {
        .card-icon {
          img {
            width: 48px;
            height: 48px;
            margin: 1rem;
          }
        }
      }
    }
  }
}
