div[role="button"] {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  width: max-content;
  padding: 1em 2em;
  border-radius: 3px;
  background-color: var(--primary-clr);
  transition: 300ms ease-in-out;
}

div[role="button"]:hover {
  transform: scale(1.04);
}

div[role="button"]:active {
  transform: scale(1);
}

.btn-md {
  font-size: var(--fs-sm);
}
